<%= simple_form_for(@visitor, html: { class: 'form-horizontal' }) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@visitor.errors.count, "error") %> prohibited this visit from being saved:</h4>
      <!--
      <ul>
      <%  @visitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul> -->
    </div>
  <% end %>

    <%= f.input :vname %>

    <%= f.button :submit %>
<% end %>
