<% content_for :title do %>
  Voonami-Visitor/Visit log
<% end %>

<div class="row">
  <div class="span6">
    <h3>Visitors/Visit Logs
      <div class="btn-group">
        <button class="btn btn-default"><span class="icon-plus"></span> <%= link_to 'New Visitor', new_visitor_path %></button>
      </div>
    </h3>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.vname %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
