<% content_for :title do %>
  Voonami-Visitor
<% end %>

<div class="row">
  <div class="span6">
    <h3>Visits
      <div class="btn-group">
        <button class="btn btn-default"><span class="icon-plus"></span> <%= link_to 'New Visit', new_visit_path %></button>
      </div>
    </h3>
  </div>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Notes</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.company %></td>
        <td><%= visit.phone %></td>
        <td><%= visit.email %></td>
        <td><%= visit.notes %></td>
        <td><%= visit.created_at%></td>
        <td><%= visit.time_out%></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <% if visit.completed %>
          <td>*** Ended ***</td>
        <% else %>
        <td><%= link_to 'End Visit', visit, method: :delete, data: { confirm: 'Mark visit as having ended?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
