<% content_for :title do %>
 Voonami-Visit 
<% end %>
<p>
  <strong>Company:</strong>
  <%= @visit.company %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @visit.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visit.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @visit.notes %>
</p>

<p>
  <strong>Time in:</strong>
  <%= @visit.created_at %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
